body{
  background-color: blanchedalmond;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunitio Sans", sans-serif, arial;
  color: rgb(0, 0, 0);
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: black;
}

*{
  box-sizing: border-box;
}

.first-section{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.first-section img{
  width: 500px;
  height: 600px;
}

